.background {
    display: flex;
    flex-direction: column;
    margin: 0;

    justify-content: stretch;
    height: 100vh;
}

.page {
    padding: 16px;

    background-color: #517664;
    color: #CACFD6;
    font-family:
    system-ui,
    -apple-system, /* Firefox supports this but not yet `system-ui` */
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';

    align-items: center;
}

.input {
    padding: 6px;
    width: 400px;
    font-size: 14px;
}

.button {
    font-size: 16px;
    padding-left: 10px;
}

.results {
    flex-grow: 1;
    width: 100%;
}